streamlit==1.32.0
pandas==2.1.4
beautifulsoup4==4.12.3
requests==2.31.0
selenium==4.15.2
gspread==5.12.4
google-auth==2.25.0
google-auth-oauthlib==1.1.0
google-api-python-client==2.108.0
lxml==4.9.4
leads-api-472019-907393155ebd